.checkout__product{
    display:flex;
    margin-top:20px;
    margin-bottom:20px;
}
.checkout__info{
    
    padding-left:20px;
}
.checkout__button{
    background:#f0c14b;
    border: 1px solid;
    margin-top:10px;
    border-color:#a88734 #9c7e31 #846a29;
    color:#111;
}
.checkout__image{
    width:180px;
    height:180px;
    object-fit:contain;
}
.checkout__title{
    font-weight:800;
    font-size:17px;
}
.checkout__price{
    margin-top:10px;
}